@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
  .mobile {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .grid-cols-2 > div {
    grid-column: span 2;
  }
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.product-card-container {
  transition: opacity 0.5s, transform 0.5s;
}

.product-card-entering {
  opacity: 0;
  transform: translateY(20px);
}
.product-card-exiting {
  opacity: 0;
  transform: translateY(20px);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.your-tilt-container {
  transition: transform 0.1s ease-in-out;
}

.hash-span {
  margin-top: -70px;
  padding-bottom: 70px;
  display: block;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.02);
  background-color: darkorange;
}

.grow2 {
  transition: all .2s ease-in-out;
}
.grow2:hover {
  transform: scale(1.02);
}

.grow3 {
  transition: all .2s ease-in-out;
}
.grow3:hover {
  transform: scale(1.01);
}